<div id="banner">
	<%= image_tag "logo.png", alt: "Logo"%>
	<%= @page_title || "Pragmatic Bookshelf" %>
</div>
<div id="columns">
	<div id="side">
		<ul>
			<li><%= link_to "Home", 		'#' %></li>
			<li><%= link_to "Questions", 	'#' %></li>
			<li><%= link_to "News",			'#' %></li>
			<li><%= link_to "Contact", 		'#' %></li>
		</ul>
	</div>
</div>