<div id="banner">
   <%= image_tag "logo.png", alt: "Logo"%>
   <%= @page_title || "Pragmatic Bookshelf" %>
</div>
<nav class="navbar navbar-default">
   <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="#">Pragmatic Bookshelf</a>
      </div>
      <div>
         <ul class="nav navbar-nav">
            <li><%= link_to "Home",     '#', class: "active" %></li>
            <li><%= link_to "Questions",  '#' %></li>
            <li><%= link_to "News",     '#' %></li>
            <li><%= link_to "Contact",    '#' %></li>
         </ul>
      </div>
   </div>
</nav>