<!DOCTYPE html>
<html>
   <head>
      <title>Pragprog Books Online Store</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
   </head>
   <!--Load controller specific stylesheets -->
   <body class="container <%= controller.controller_name%>">
      <%= render 'layouts/header'  %>
      <div id="columns">
         <div id="side">
            <% if @cart %>
               <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
                  <%= render @cart %>
               <% end %>
            <% end %>
            <ul>
               <li><%= link_to "Home",  '#' %></li>
               <li><%= link_to "Questions",  '#' %></li>
               <li><%= link_to "News",     '#' %></li>
               <li><%= link_to "Contact",    '#' %></li>
            </ul>
         </div>
      </div>
      <div id="main">
         <%= yield %>   
      </div>
   </body>
</html>