<!DOCTYPE html>
<html>
   <head>
      <title>Pragprog Books Online Store</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
   </head>
   <!--Load controller specific stylesheets -->
   <body class="container <%= controller.controller_name%>">
      <%= render 'layouts/header'  %>
      <div id="main">
         <%= yield %>   
      </div>
   </body>
</html>